<html>
<head>
    <title>Jobs</title>
</head>
<body>
<a href="/jobs">Browse All Jobs</a>
<a href="/jobs?liked=u">Browse Unrated Jobs</a>
<a href="/jobs?liked=y&days=5">Browse Liked Jobs Of The Last 5 Days</a>
