{{> header}}

<h1>Job List</h1>
<table style="border-collapse: collapse;">
    <tr>
        <th>Company Name</th>
        <th>Position</th>
        <th>Blurb</th>
        <th>Years of Experience</th>
        <th>Tags</th>
        <th>Liked</th>
    </tr>
    {{#jobs}}
    <tr style="border-top: 1pt solid black;">
        <td><a href="/job/{{id}}">{{companyName}}</a></td>
        <td><a href="/job/{{id}}">{{position}}</a></td>
        <td>{{{blurb}}}</td>
        <td>{{yearsExp}}</td>
        <td>
            {{#tags}}{{.}}, {{/tags}}
            <br>
            {{#requirements}}{{.}}<br>{{/requirements}}
        </td>
        <td>
            {{> like_radio}}
            {{#status}}{{.}}{{/status}}
        </td>
    </tr>
    {{/jobs}}
</table>
<div>
    {{#prevPageLink}}
        {{#totalPages}}
            <a href="{{prevPageLink}}">Previous</a>
        {{/totalPages}}
    {{/prevPageLink}}

    {{#currentPage}}
        {{#totalPages}}
            <p>Page {{currentPage}} of {{totalPages}}</p>
        {{/totalPages}}
    {{/currentPage}}

    {{#nextPageLink}}
        {{#totalPages}}
            <a href="{{nextPageLink}}">Next</a>
        {{/totalPages}}
    {{/nextPageLink}}
</div>

{{> like_script}}

{{> footer}}
