<div style="width: 60px">
    <input type="radio" id="{{id}}_like" name="{{id}}_like" onclick="handleLikeClick('{{id}}', true)" {{#isLiked}}{{#liked}}checked{{/liked}}{{/isLiked}}>
    <label for="{{id}}_like">Yes</label><br>
    <input type="radio" id="{{id}}_dislike" name="{{id}}_like" onclick="handleLikeClick('{{id}}', false)" {{#isLiked}}{{^liked}}checked{{/liked}}{{/isLiked}}>
    <label for="{{id}}_dislike">No</label>
</div>
